extends layout

block content
  div(class="container")
    br
    br
    br
    center
        h1 HelpUM
        br
        br
        p Plataforma que fornece aos estudantes da UM ferramentas para sua vida no campus.
        br
        p Está disponível informação sobre a ementa da cantina, alertas via SMS da mesma e a pesquisa de informações de docentes.
        br
        br
        br
